#container{
    margin: 1rem;
    text-align: center;
}

.isually-hidden{
    width: 300px;
}

.select, #text-date{
    width: 30rem;
    max-width: 90%;
    padding: 2px;
    height: 3rem;
    font-size: 1.6rem;
    text-align: right;
    margin-bottom: 10px;
}

 #btn-group{
    display: inline-block;
    width: 30rem;
    max-width: 90%;
    text-align: center;
    margin-bottom: 10px;
 }

 .one, .two, .three{
    font-size: 1rem;
    width: 30%;
    padding: 0;
    height: 2.0rem;
 }

.one{
    float: left;  
}

.two{
    text-align: center;
    font-size: 1rem;
    padding-left: 0;
}

.three{
    float: right;
    font-size: 1rem;
}

#task{
    width: 30rem;
    max-width: 90%;
    direction: rtl;
}

  
